<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div *ngIf="spinner" style="position: absolute;
width: 100%;
height: 100%;
z-index: 1000000;
background: rgb(255 255 255 / 88%);"><svg>
    <g>
      <path d="M 50,100 A 1,1 0 0 1 50,0" />
    </g>
    <g>
      <path d="M 50,75 A 1,1 0 0 0 50,-25" />
    </g>
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:#fe7a9f;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#ffb067;stop-opacity:1" />
      </linearGradient>
    </defs>
  </svg>
  <div style="    color: #41627f;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 67vh;
  font-size: 28px;">{{"PLSWAIT" | translate}}</div>
</div>
<ion-content id="content" #IonContent [scrollEvents]="true" (ionScrollStart)="startScroll()"
  (ionScroll)="logScrollStart($event)" (touchend)="touchend()" (touchstart)="touchstart()" (ionScrollEnd)="endScroll()">
  <img id="back" src="./assets/icon/Bback.png" style="position: absolute;
  position: fixed;
  width: 7%;
  z-index: 100;
  top: 3%;
  left: 8%;
  margin: 0;
  z-index: 1000;" (click)="backward()">
  <div [ngStyle]="{'background' : 'rgba(255, 215, 196,' + (1-cssProp.textOpacity) + ')' }" style="position: fixed;
  width: 100%;
  height: 10%;
  z-index: 150;">
    <ion-text style="position: absolute;
    top: 90%;
    color: #63164e;
    text-transform: uppercase;
    font-weight: 500;" [ngStyle]="{'font-size': cssProp.titleSize,'top':cssProp.titleTop,'left': cssProp.titleLeft}">
      {{"INFREC.head" | translate}}
    </ion-text>
  </div>


  <ion-text style="position: fixed;
  left: 10%;
  right: 10%;
  color: #653658;
  font-size: 15px;" [ngStyle]="{'opacity': cssProp.textOpacity,'top': cssProp.textTop}"
    [innerHTML]='"INFREC.description" | translate'>

  </ion-text>
  <img src="assets/images/typeBg.png" style="position: absolute;margin: 0;right: -10%;">
  <div class="background" [ngStyle]="{'top': cssProp.backGroundTop}"></div>

  <div style="position: relative;
  width: 100%;
  margin-top: 60%;
  height: 100%;">

    <ion-item lines="none" style="position: absolute;
top: 3%;
left: 5%;
width: 90%;
--background: #ffffff;
border-radius: 30px;
border: 1px solid #dadada;
z-index: 100;">
      <ion-input [placeholder]='"INFREC.placeholder.subject" | translate' [(ngModel)]="data.subject"
        (keyup)="maxLetters(25)" name="subject" style="margin-left: 5%;
    font-size: 19px;
    text-transform: uppercase;
    color: #636363;">
      </ion-input>
    </ion-item>




    <ion-item lines="none" style="position: absolute;
    top: 18%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    --background: #ffffff;
    border-radius: 30px;
    border: 1px solid #dadada;
    z-index: 100;">
      <ion-textarea style="height: 100%;" [placeholder]='"INFREC.placeholder.description" | translate'
        [(ngModel)]="data.description" name="description">
      </ion-textarea>
    </ion-item>
    <div style="position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    height: 2px;
    background: rgb(35, 6, 39);"></div>
    <ion-card style="left: 20%;
    top: 50%;
    width: 22vw;
    height: 22vw;
    margin: 0;
    background: #4c3943;" (click)=" loadCamera()">
      <img src="assets/logos/Camera.png" class="cardImg" />

    </ion-card>

    <ion-card style="position:absolute;
    right: 20%;
    top: 50%;
    width: 22vw;
    height: 22vw;
    margin: 0;
    background: #4c3943;" (click)="loadFileChooser()">
      <img src="assets/logos/File.png" class="cardImg" />

    </ion-card>

    <img [src]="getImgContent(data.image)" id="image" style="position: absolute;
  bottom: 0%;
  margin: 0;
  margin-bottom: 20%;
  left: 25%;
  width: 50%;
  border-radius: 25px;
  background: linear-gradient(45deg, #ffd7c4, rgba(0,0,0,0));
  top : 66%">

  </div>

  <div style="position: fixed;
  bottom: 0;
  background: #ffd7c4;
  width: 100%;
  height: 10%;
  border-radius: 25px 25px 0 0;
  z-index: 100;">
    <ion-button (click)="submit()" style="font-family:'Montserrat';--border-radius:50px;    width: 70%;
      margin-left: 15%;
      height: 60%;--background: #3e0d27;--box-shadow: none;">
      {{"INFREC.confirm" | translate}}
    </ion-button>

  </div>
  <ion-input hidden id="test" [(ngModel)]="nsfw"></ion-input>

</ion-content>