<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div *ngIf='spinner'
  style="position:absolute;background: #f8868683;height: 100%;width:100%;display: flex;justify-content: center;z-index: 100000;">
  <img style="width: 50%;margin:0;" src="data:image/svg+xml;base64,PCEtLSBCeSBTYW0gSGVyYmVydCAoQHNoZXJiKSwgZm9yIGV2ZXJ5b25lLiBNb3JlIEAgaHR0cDov
  L2dvby5nbC83QUp6YkwgLS0+Cjxzdmcgd2lkdGg9IjU4IiBoZWlnaHQ9IjU4IiB2aWV3Qm94PSIw
  IDAgNTggNTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZyBmaWxs
  PSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNs
  YXRlKDIgMSkiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxLjUiPgogICAgICAgICAgICA8
  Y2lyY2xlIGN4PSI0Mi42MDEiIGN5PSIxMS40NjIiIHI9IjUiIGZpbGwtb3BhY2l0eT0iMSIgZmls
  bD0iI2ZmZiI+CiAgICAgICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJmaWxsLW9w
  YWNpdHkiCiAgICAgICAgICAgICAgICAgICAgIGJlZ2luPSIwcyIgZHVyPSIxLjNzIgogICAgICAg
  ICAgICAgICAgICAgICB2YWx1ZXM9IjE7MDswOzA7MDswOzA7MCIgY2FsY01vZGU9ImxpbmVhciIK
  ICAgICAgICAgICAgICAgICAgICAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgICAgICAg
  ICAgIDwvY2lyY2xlPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSI0OS4wNjMiIGN5PSIyNy4wNjMi
  IHI9IjUiIGZpbGwtb3BhY2l0eT0iMCIgZmlsbD0iI2ZmZiI+CiAgICAgICAgICAgICAgICA8YW5p
  bWF0ZSBhdHRyaWJ1dGVOYW1lPSJmaWxsLW9wYWNpdHkiCiAgICAgICAgICAgICAgICAgICAgIGJl
  Z2luPSIwcyIgZHVyPSIxLjNzIgogICAgICAgICAgICAgICAgICAgICB2YWx1ZXM9IjA7MTswOzA7
  MDswOzA7MCIgY2FsY01vZGU9ImxpbmVhciIKICAgICAgICAgICAgICAgICAgICAgcmVwZWF0Q291
  bnQ9ImluZGVmaW5pdGUiIC8+CiAgICAgICAgICAgIDwvY2lyY2xlPgogICAgICAgICAgICA8Y2ly
  Y2xlIGN4PSI0Mi42MDEiIGN5PSI0Mi42NjMiIHI9IjUiIGZpbGwtb3BhY2l0eT0iMCIgZmlsbD0i
  I2ZmZiI+CiAgICAgICAgICAgICAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJmaWxsLW9wYWNp
  dHkiCiAgICAgICAgICAgICAgICAgICAgIGJlZ2luPSIwcyIgZHVyPSIxLjNzIgogICAgICAgICAg
  ICAgICAgICAgICB2YWx1ZXM9IjA7MDsxOzA7MDswOzA7MCIgY2FsY01vZGU9ImxpbmVhciIKICAg
  ICAgICAgICAgICAgICAgICAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgICAgICAgICAg
  IDwvY2lyY2xlPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyNyIgY3k9IjQ5LjEyNSIgcj0iNSIg
  ZmlsbC1vcGFjaXR5PSIwIiBmaWxsPSIjZmZmIj4KICAgICAgICAgICAgICAgIDxhbmltYXRlIGF0
  dHJpYnV0ZU5hbWU9ImZpbGwtb3BhY2l0eSIKICAgICAgICAgICAgICAgICAgICAgYmVnaW49IjBz
  IiBkdXI9IjEuM3MiCiAgICAgICAgICAgICAgICAgICAgIHZhbHVlcz0iMDswOzA7MTswOzA7MDsw
  IiBjYWxjTW9kZT0ibGluZWFyIgogICAgICAgICAgICAgICAgICAgICByZXBlYXRDb3VudD0iaW5k
  ZWZpbml0ZSIgLz4KICAgICAgICAgICAgPC9jaXJjbGU+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9
  IjExLjM5OSIgY3k9IjQyLjY2MyIgcj0iNSIgZmlsbC1vcGFjaXR5PSIwIiBmaWxsPSIjZmZmIj4K
  ICAgICAgICAgICAgICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9ImZpbGwtb3BhY2l0eSIKICAg
  ICAgICAgICAgICAgICAgICAgYmVnaW49IjBzIiBkdXI9IjEuM3MiCiAgICAgICAgICAgICAgICAg
  ICAgIHZhbHVlcz0iMDswOzA7MDsxOzA7MDswIiBjYWxjTW9kZT0ibGluZWFyIgogICAgICAgICAg
  ICAgICAgICAgICByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4KICAgICAgICAgICAgPC9jaXJj
  bGU+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjQuOTM4IiBjeT0iMjcuMDYzIiByPSI1IiBmaWxs
  LW9wYWNpdHk9IjAiIGZpbGw9IiNmZmYiPgogICAgICAgICAgICAgICAgPGFuaW1hdGUgYXR0cmli
  dXRlTmFtZT0iZmlsbC1vcGFjaXR5IgogICAgICAgICAgICAgICAgICAgICBiZWdpbj0iMHMiIGR1
  cj0iMS4zcyIKICAgICAgICAgICAgICAgICAgICAgdmFsdWVzPSIwOzA7MDswOzA7MTswOzAiIGNh
  bGNNb2RlPSJsaW5lYXIiCiAgICAgICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmlu
  aXRlIiAvPgogICAgICAgICAgICA8L2NpcmNsZT4KICAgICAgICAgICAgPGNpcmNsZSBjeD0iMTEu
  Mzk5IiBjeT0iMTEuNDYyIiByPSI1IiBmaWxsLW9wYWNpdHk9IjAiIGZpbGw9IiNmZmYiPgogICAg
  ICAgICAgICAgICAgPGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iZmlsbC1vcGFjaXR5IgogICAgICAg
  ICAgICAgICAgICAgICBiZWdpbj0iMHMiIGR1cj0iMS4zcyIKICAgICAgICAgICAgICAgICAgICAg
  dmFsdWVzPSIwOzA7MDswOzA7MDsxOzAiIGNhbGNNb2RlPSJsaW5lYXIiCiAgICAgICAgICAgICAg
  ICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogICAgICAgICAgICA8L2NpcmNsZT4K
  ICAgICAgICAgICAgPGNpcmNsZSBjeD0iMjciIGN5PSI1IiByPSI1IiBmaWxsLW9wYWNpdHk9IjAi
  IGZpbGw9IiNmZmYiPgogICAgICAgICAgICAgICAgPGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iZmls
  bC1vcGFjaXR5IgogICAgICAgICAgICAgICAgICAgICBiZWdpbj0iMHMiIGR1cj0iMS4zcyIKICAg
  ICAgICAgICAgICAgICAgICAgdmFsdWVzPSIwOzA7MDswOzA7MDswOzEiIGNhbGNNb2RlPSJsaW5l
  YXIiCiAgICAgICAgICAgICAgICAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogICAg
  ICAgICAgICA8L2NpcmNsZT4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==" alt="">
</div>
<ion-content id="content" #IonContent [scrollEvents]="true" (ionScrollStart)="startScroll()"
  (ionScroll)="logScrollStart($event)" (touchend)="touchend()" (touchstart)="touchstart()" (ionScrollEnd)="endScroll()">
  <img id="back" src="./assets/icon/Bback.png" style="position: absolute;
  position: fixed;
  width: 7%;
  z-index: 100;
  top: 3%;
  left: 8%;
  margin: 0;
  z-index: 1000;" (click)="backward()">
  <div [ngStyle]="{'background' : 'rgba(255, 215, 196,' + (1-cssProp.textOpacity) + ')' }" style="position: fixed;
  width: 100%;
  height: 10%;
  z-index: 150;">
    <ion-text style="position: absolute;
    top: 90%;
    color: #63164e;
    text-transform: uppercase;
    font-weight: 500;" [ngStyle]="{'font-size': cssProp.titleSize,'top':cssProp.titleTop,'left': cssProp.titleLeft}">
      {{"INFREC.head" | translate}}
    </ion-text>
  </div>


  <ion-text style="position: fixed;
  left: 10%;
  right: 10%;
  color: #653658;
  font-size: 15px;" [ngStyle]="{'opacity': cssProp.textOpacity,'top': cssProp.textTop}"
    [innerHTML]='"INFREC.description" | translate'>

  </ion-text>
  <img src="assets/images/typeBg.png" style="position: absolute;margin: 0;right: -10%;">
  <div class="background" [ngStyle]="{'top': cssProp.backGroundTop}"></div>

  <div style="position: relative;
  width: 100%;
  margin-top: 60%;
  height: 100%;">

    <ion-item lines="none" style="position: absolute;
top: 3%;
left: 5%;
width: 90%;
--background: #ffffff;
border-radius: 30px;
border: 1px solid #dadada;
z-index: 100;">
      <ion-input [placeholder]='"INFREC.placeholder.subject" | translate' [(ngModel)]="data.subject"
        (keyup)="maxLetters(25)" name="subject" style="margin-left: 5%;
    font-size: 19px;
    text-transform: uppercase;
    color: #636363;">
      </ion-input>
    </ion-item>




    <ion-item lines="none" style="position: absolute;
    top: 18%;
    left: 5%;
    width: 90%;
    height: 20%;
    display: flex;
    --background: #ffffff;
    border-radius: 30px;
    border: 1px solid #dadada;
    z-index: 100;">
      <ion-textarea style="height: 100%;" [placeholder]='"INFREC.placeholder.description" | translate'
        [(ngModel)]="data.description" name="description">
      </ion-textarea>
    </ion-item>
    <div style="position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    height: 2px;
    background: rgb(35, 6, 39);"></div>
    <ion-card style="left: 20%;
    top: 50%;
    width: 22vw;
    height: 22vw;
    margin: 0;
    background: #4c3943;" (click)=" loadCamera()">
      <img src="assets/logos/Camera.png" class="cardImg" />

    </ion-card>

    <ion-card style="position:absolute;
    right: 20%;
    top: 50%;
    width: 22vw;
    height: 22vw;
    margin: 0;
    background: #4c3943;" (click)="loadFileChooser()">
      <img src="assets/logos/File.png" class="cardImg" />

    </ion-card>

    <img [src]="getImgContent(data.image)" id="image" style="position: absolute;
  bottom: 0%;
  margin: 0;
  margin-bottom: 20%;
  left: 25%;
  width: 50%;
  border-radius: 25px;
  background: linear-gradient(45deg, #ffd7c4, rgba(0,0,0,0));
  top : 66%">

  </div>

  <div style="position: fixed;
  bottom: 0;
  background: #ffd7c4;
  width: 100%;
  height: 10%;
  border-radius: 25px 25px 0 0;
  z-index: 100;">
    <ion-button (click)="submit()" style="font-family:'Montserrat';--border-radius:50px;    width: 70%;
      margin-left: 15%;
      height: 60%;--background: #3e0d27;--box-shadow: none;">
      {{"INFREC.confirm" | translate}}
    </ion-button>

  </div>
  <ion-input hidden id="test" [(ngModel)]="nsfw"></ion-input>

</ion-content>