<ion-content>
  <div *ngIf="searchBar == ''" style="padding-left: 15%;
  margin-left: 2.1%;
  padding-top: 3.5%;
    position: fixed;
    width: 96%;
    height: 6.7%;
    margin-top: 2%;
    z-index: 10;">Your City</div>
  <ion-searchbar [showCancelButton]="never" (keyup)=" filterList($event)" placeholder="">
  </ion-searchbar>
  <img class="background" src="./assets/images/aboutBg.png" alt="" srcset="">
  <div style="display: unset;" *ngIf="showSkeleton == false">

    <ion-card *ngFor="let claim of claims" style="background:  linear-gradient(0deg, #fbdab8, #ffa3a3);">
      <img *ngIf="claim.noImage" [src]="getImgContent(claim.image)" style="width: 50%;margin-left: 25%;" />
      <img *ngIf="!claim.noImage" [src]="getImgContent(claim.image)" />
      <div></div>

      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="pin" size="50" style="margin-bottom: -1px;color: rgb(236, 127, 127)"></ion-icon>
          {{claim.city}}
          |
          {{claim.municipalite}}
        </ion-card-subtitle>
        <ion-card-title style="color: #0c1925;font-size:30px;text-transform:uppercase;padding-left: 3px;">
          {{claim.subject}}</ion-card-title>
        <ion-card-subtitle style="margin: 0;">
          <ion-icon name="time" style="margin-bottom: -1px;"></ion-icon>
          <ion-text style="padding-left: 3px;">{{getTime(claim.created_at)}}</ion-text>
        </ion-card-subtitle>
        <app-animated-like></app-animated-like>
      </ion-card-header>
    </ion-card>

  </div>
  <h3 style="padding: 1em;padding-top: 2em;" *ngIf="showSkeleton">
    <ion-skeleton-text animated style="width: 100%;padding: 3em;"></ion-skeleton-text>
  </h3>
  <h3 style="padding: 1em;padding-top: 2em;" *ngIf="showSkeleton">
    <ion-skeleton-text animated style="width: 100%;padding: 3em;"></ion-skeleton-text>
  </h3>
  <h3 style="padding: 1em;padding-top: 2em;" *ngIf="showSkeleton">
    <ion-skeleton-text animated style="width: 100%;padding: 3em;"></ion-skeleton-text>
  </h3>
  <h3 style="padding: 1em;padding-top: 2em;" *ngIf="showSkeleton">
    <ion-skeleton-text animated style="width: 100%;padding: 3em;"></ion-skeleton-text>
  </h3>
</ion-content>