

ion-content{
    top: 0;
    width: 100%;
    padding-top: 6em;
    --background:  #ffffff;
    --padding-bottom: 6em;
    scroll-behavior: smooth;
}
ion-card{
   
    margin-top: 3em;
    height: 55%;
    border-radius: 5%;
    margin-top: 6em;
    margin-bottom: -3em;
    box-shadow: none;
    box-shadow: #0000000a 2px -2px 9px 6px;
}
.background{
    z-index: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    top: 10%;
    background: #ffffff ;
}
ion-searchbar{

    position: absolute;
    z-index: 10;
    background: none;
    --background: #f7f7f7;
    opacity: 0.6;
    top: 25%;
    width: 90%;
    left: 5%;
    --border-radius : 50px;
}
ion-card-header{
    height: 40%;
    padding-bottom: 2em;
    padding-top: 2em;
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    border-radius: 0em 0em 1em 1em;
}
app-animated-like{
    position: absolute;
    right: 16%;
    bottom: 16%;
}