<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<ion-content #IonContent [scrollEvents]="true" (ionScrollStart)="startScroll()" (ionScroll)="logScrollStart($event)"
  (touchend)="touchend()" (touchstart)="touchstart()" (ionScrollEnd)="endScroll()">
  <div [ngStyle]="{'background' : 'rgba(255, 215, 196,' + (1-cssProp.textOpacity) + ')' }" style="position: fixed;
  width: 100%;
  height: 10%;
  z-index: 99;">
    <ion-text style="position: absolute;
    top: 90%;
    color: #63164e;
    text-transform: uppercase;
    font-weight: 500;" [ngStyle]="{'font-size': cssProp.titleSize,'top':cssProp.titleTop,'left': cssProp.titleLeft}">
      Claim Categorie
    </ion-text>
  </div>


  <ion-text style="position: fixed;
  left: 10%;
  right: 10%;
  color: #653658;
  font-size: 15px;" [ngStyle]="{'opacity': cssProp.textOpacity,'top': cssProp.textTop}">Lorem ipsum dolor sit amet
    consectetur adipisicing
    elit. Dicta
    debitis, minus eaque sit
    voluptatum accusamus? </ion-text>
  <img src="assets/images/typeBg.png" style="position: absolute;margin: 0;right: -10%;">
  <div class="background" [ngStyle]="{'top': cssProp.backGroundTop}">
  </div>

  <ion-grid fixed style="padding: 1em;margin-top: 60%;margin-left: 1%;">
    <ion-row>
      <ion-col size="6" *ngFor=" let type of types">
        <ion-card (touchstart)="cardTouchstart($event,type)" (touchend)="cardTouchend();" (click)="changeType(type)"
          [ngStyle]="{'background-color': type.color}" style="width: 40vw;height: 40vw;margin: 0;">
          <img src="{{type.image}}" class="cardImg" />

          <ion-card-header>
            <ion-card-title class="cardTitle" [ngStyle]="{'color': type.titleColor}">
              {{type.name}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <img class="background" src="./assets/images/aboutBg.png" alt="" srcset=""> -->

  <img id="back" src="./assets/icon/Bback.png" style="position: absolute;
    position: fixed;
    width: 7%;
    z-index: 100;
    top: 3%;
    left: 8%;
    margin: 0;" (click)="backward()">

  <div style="    position: fixed;
  bottom: 0;
  background: #ffd7c4;
  width: 100%;
  height: 10%;
  border-radius: 25px 25px 0 0;">
    <ion-button (click)="forward()" style="font-family:'Montserrat';--border-radius:50px;    width: 70%;
      margin-left: 7%;
      height: 60%;--background: #3e0d27;--box-shadow: none;">
      Confirm
    </ion-button>
    <ion-button (click)="customType()" style="   font-family: 'Montserrat';
    --border-radius: 50px;
    width: 11vw;
    height: 11vw;
    margin-left: 7%;
    --background: #3e0d27;
    --box-shadow: none;
    font-size: 1px;">
      <ion-icon name="add" style="font-size: 20px;"></ion-icon>
    </ion-button>
  </div>
</ion-content>