<link *ngIf="Online" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div *ngIf="splash" style="position: absolute;
width: 100%;
height: 100%;
z-index: 10000;
background: rgb(255 255 255 / 88%);"><svg>
    <g>
      <path d="M 50,100 A 1,1 0 0 1 50,0" />
    </g>
    <g>
      <path d="M 50,75 A 1,1 0 0 0 50,-25" />
    </g>
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:#fe7a9f;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#ffb067;stop-opacity:1" />
      </linearGradient>
    </defs>
  </svg>
  <div style="    color: #41627f;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 67vh;
  font-size: 28px;">{{"PLSWAIT" | translate}}</div>
</div>
<ion-content>
  <div *ngIf="firstTimeApp"
    style="position: fixed;width: 100%;height: 100%;z-index: 1000000;background: rgb(255, 255, 255);">
    <ion-slides>
      <ion-slide>
        <img src="./assets/images/lang.jpg" style="position: absolute;
        width: 100%;
        padding: 3em;
        top: 5%;">
        <div style="    position: absolute;
        width: 100%;
        font-size: 32px;
        color: #4f6c8a;
        top: 52%;">
          Select a Language
        </div>
        <div style="    position: absolute;
        width: 100%;
        font-size: 14px;
        color: #838383;
        top: 59%;">
          you can always change this later
        </div>
        <div (click)="setLanguage('fr')" style="position: absolute;
        right: 20%;
        bottom: 14%;">
          <img src="./assets/icon/france.svg">
          <div style="font-size: 20px;">French</div>
        </div>
        <div (click)="setLanguage('en')" style="position: absolute;
        left: 20%;
        bottom: 14%;">
          <img src="./assets/icon/united-kingdom.svg">
          <div style="font-size: 20px;">English</div>
        </div>
      </ion-slide>

    </ion-slides>
  </div>
  <div id="header">
    <ion-slides loop="true" [options]="slideOptsOne" #slides *ngIf="translate">
      <ion-slide>
        <img src="./assets/images/pplHoldingTunisia2.png" style="position: absolute;bottom: -2px;">
        <ion-text><span style="color: #f99191;">{{welcome.a}}</span><br>
          {{welcome.b}}</ion-text>
      </ion-slide>
      <ion-slide>
        <img src="./assets/images/tuto2.png" style="position: absolute;bottom: -2px;">
        <ion-text><span style="color: #1c3b4d;">{{welcome.a}}</span><br>
          {{welcome.b}}</ion-text>

      </ion-slide>
      <ion-slide>
        <img src="./assets/images/post.png" style="position: absolute;bottom: -2px;">
        <ion-text><span style="color: #1c3b4d;">{{welcome.a}}</span> <br>
          {{welcome.b}}</ion-text>

      </ion-slide>

    </ion-slides>
    <img src="./assets/icon/muni.png" (click)="AboutUs()" style="
    position: fixed;
    width: 12%;
    z-index: 10;
    top: 4.5%;
    left: 8%;">
    <img style="
    position: fixed;
    width: 8%;
    top: 4.5%;
    right : 8%;
    z-index: 100;
    margin: 0;" id=" forward" src="./assets/icon/forward.png" (click)="forward()">
  </div>

  <div class="buttons">
    <ion-button (click)="forward()" style="bottom:19%; --background: linear-gradient(90deg, #e6ba8e, #f99191);">
      {{"WELCOME.button1" | translate}}
    </ion-button>
    <br>
    <ion-button (click)="seeClaims()" style="bottom:8%;--background : #1c3b4d ; color: rgb(255, 255, 255);">
      {{"WELCOME.button2" | translate}}
    </ion-button>
  </div>
</ion-content>