<link *ngIf="Online" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- <ion-header>
  </ion-header> -->
<ion-content>

  <div id="header">
    <ion-slides loop="true" [options]="slideOptsOne" #slides (ionSlidesDidLoad)="slideChanged(slides)"
      (ionSlideTouchEnd)="changed(slides)">
      <ion-slide>
        <img src="./assets/images/pplHoldingTunisia2.png" style="position: absolute;bottom: -2px;">
        <ion-text><span style="color: #f99191;">Together !</span> &nbsp; Tunisia better</ion-text>
      </ion-slide>
      <ion-slide>
        <img src="./assets/images/tuto2.png" style="position: absolute;bottom: -2px;">
        <ion-text><span style="color: #1c3b4d;">Together !</span> &nbsp; Tunisia better</ion-text>

      </ion-slide>
      <ion-slide>
        <img src="./assets/images/post.png" style="position: absolute;bottom: -2px;">
        <ion-text><span style="color: #1c3b4d;">Together !</span> &nbsp; Tunisia better</ion-text>

      </ion-slide>

    </ion-slides>
    <img src="./assets/icon/muni.png" (click)="AboutUs()" style="
    position: fixed;
    width: 12%;
    z-index: 10;
    top: 4.5%;
    left: 8%;">
    <img style="
    position: fixed;
    width: 8%;
    top: 4.5%;
    right : 8%;
    z-index: 100;
    margin: 0;" id=" forward" src="./assets/icon/forward.png" (click)="forward()">
  </div>

  <div class="buttons">
    <ion-button (click)="forward()" style="bottom:19%; --background: linear-gradient(90deg, #e6ba8e, #f99191);">
      Getting Started
    </ion-button>
    <br>
    <ion-button (click)="seeClaims()" style="bottom:8%;--background : #1c3b4d ; color: rgb(255, 255, 255);">
      See Other Claims
    </ion-button>
  </div>
</ion-content>