<ion-tabs>

  <ion-tab-bar slot="bottom" slide>
    <ion-tab-button tab="type-de-reclamation">
      <ion-icon name="flash"></ion-icon>
      <ion-label>type</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="information-personnel">
      <ion-icon name="apps"></ion-icon>
      <ion-label>information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="information-de-reclamation">
      <ion-icon name="send"></ion-icon>
      <ion-label>reclamation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resultat-final">
      <ion-icon name="send"></ion-icon>
      <ion-label>resultat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>