ion-card-content{
    height: 50%;
    position: absolute;
    width: 100%;
    padding: 0;
    background: linear-gradient(129deg, #ce9175, #d26f6f);
}
ion-card-header{
    z-index: 20;
    height: 50%;
    top: 0;
    padding: 0;
    
}
.content{
    height: 100%;
    padding: 1em;
    padding-top: 4em;
    z-index: 100;
    font-size: 17px;
    color: #ffffff;
}

