<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div *ngIf="splash" style="position: absolute;
width: 100%;
height: 100%;
z-index: 10000;
background: rgb(255 255 255 / 88%);"><svg>
    <g>
      <path d="M 50,100 A 1,1 0 0 1 50,0" />
    </g>
    <g>
      <path d="M 50,75 A 1,1 0 0 0 50,-25" />
    </g>
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" style="stop-color:#fe7a9f;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#ffb067;stop-opacity:1" />
      </linearGradient>
    </defs>
  </svg>
  <div style="    color: #41627f;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 67vh;
  font-size: 28px;">{{"PLSWAIT" | translate}}</div>
</div>
<ion-content #IonContent [scrollEvents]="true" (ionScrollStart)="startScroll()" (ionScroll)="logScrollStart($event)"
  (touchend)="touchend()" (touchstart)="touchstart()" (ionScrollEnd)="endScroll()">

  <!-- <img class="background" src="./assets/images/aboutBg.png" alt="" srcset=""> -->
  <img id="back" src="./assets/icon/Bback.png" style="position: absolute;
  position: fixed;
  width: 7%;
  z-index: 100;
  top: 3%;
  left: 8%;
  margin: 0;
  z-index: 1000;" (click)="backward()">
  <div [ngStyle]="{'background' : 'rgba(255, 215, 196,' + (1-cssProp.textOpacity) + ')' }" style="position: fixed;
  width: 100%;
  height: 10%;
  z-index: 150;">
    <ion-text style="position: absolute;
    top: 90%;
    color: #63164e;
    text-transform: uppercase;
    font-weight: 500;" [ngStyle]="{'font-size': cssProp.titleSize,'top':cssProp.titleTop,'left': cssProp.titleLeft}"
      [innerHTML]="">
      {{"INFOPERSONNEL.head" | translate}}
    </ion-text>
  </div>


  <ion-text style="position: fixed;
  left: 10%;
  right: 10%;
  color: #653658;
  font-size: 15px;" [ngStyle]="{'opacity': cssProp.textOpacity,'top': cssProp.textTop}"
    [innerHTML]='"INFOPERSONNEL.description" | translate'>
  </ion-text>
  <img src="assets/images/infPerBg.png" style="position: absolute;margin: 0;right: -10%;">
  <div class="background" [ngStyle]="{'top': cssProp.backGroundTop}"></div>
  <div style="position: relative;
  width: 100%;
  margin-top: 60%;
  height: 100%;">

    <ion-select style="position: absolute; 
    top: 3%;
    left: 5%;
    width: 45%;
    font-size: 20px;
    background: #ffffff;
    border-radius: 25px 0 0 25px;
    text-align: center;
    border-left: 1px solid #dadada;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;" [placeholder]='"INFOPERSONNEL.placeholder.city" | translate'
      (click)="clickByMouse = true" interface="popover" [selectedText]="data.city" (click)="chosenByButton()"
      (ionChange)=" changed($event)" [(ngModel)]="data.city" name="city">
      <ion-select-option *ngFor="let city of cities">{{city.c}}
      </ion-select-option>
    </ion-select>


    <ion-select (click)="chosenByButton()" (ionChange)="changedMuni($event)"
      [placeholder]='"INFOPERSONNEL.placeholder.municipality" | translate' style="
   position: absolute;
      top: 3%;
      right: 5%;
      width: 45%;
      font-size: 20px;
      background: #ffffff;
      border-radius: 0 25px 25px 0;
      text-align: center;
      border-right: 1px solid #dadada;
      border-top: 1px solid #dadada;
      border-bottom: 1px solid #dadada;" interface="popover" [(ngModel)]="data.municipalite" name="muni">
      <ion-select-option *ngFor="let m of muni">{{m}}</ion-select-option>
    </ion-select>
    <ion-item lines="none" style="position: absolute;
    top: 16%;
    left: 5%;
    width: 90%;
    --background: #ffffff;
    border-radius: 30px;
    border: 1px solid #dadada;
    z-index: 100;">
      <ion-input [placeholder]='"INFOPERSONNEL.placeholder.email" | translate' [(ngModel)]="data.email" name="title"
        style="    margin-left: 5%;
        font-size: 15px;
        color: #6b6b6b;"></ion-input>
    </ion-item>

    <!-- <ion-button ion-button type="submit" (click)="forward()">Add Todo</ion-button> -->


    <div class="container" hidden>
      <form action="" id="signupForm">
        <label for="lat">lat</label>
        <input type="text" id="lat" name="lat" placeholder="Your lat..">

        <label for="lng">lng</label>
        <input type="text" id="lng" name="lng" placeholder="Your lng..">
      </form>
    </div>

    <div class="geocoder">
      <div id="geocoder"></div>
    </div>
    <div style="position: absolute;
    width: 15vw;
    height: 15vw;
    text-align: center; 
    padding: 13px;
    background: #642f4b;
    z-index: 900;
    border-radius: 50%;
    right: 3%;
    top: 28%;">
      <ion-icon name="locate-outline" style="color: white;
      width: 100%;
      height: 100%;" (click)="autoLocate()"></ion-icon>
    </div>
    <div *ngIf="Online" id="map" (click)='GetLatLng()'></div>
    <div *ngIf="!Online" style="background: rgb(216, 216, 216);text-align: center;" id="map">
      <div style="position: absolute;
      top: 50%;
      width: 70%;
      color: #868686;
      left: 15%;"> {{"INFOPERSONNEL.mapOffline" | translate}}</div>
    </div>
    <div *ngIf="Online && !mapReady" id="map" style="background: rgb(216, 216, 216);text-align: center;">
      <div style="position: absolute;
      top: 50%;
      width: 70%;
      color: #868686;
      left: 15%;"> {{"INFOPERSONNEL.waitMap" | translate}}</div>
      <ion-skeleton-text animated style="width: 100%;padding: 3em;"></ion-skeleton-text>
    </div>
  </div>
  <div style="    position: fixed;
  bottom: 0;
  background: #ffd7c4;
  width: 100%;
  height: 10%;
  border-radius: 25px 25px 0 0;
  z-index: 100;">
    <ion-button (click)="forward()" style="font-family:'Montserrat';--border-radius:50px;    width: 70%;
      margin-left: 15%;
      height: 60%;--background: #3e0d27;--box-shadow: none;">
      {{"INFOPERSONNEL.confirm" | translate}}
    </ion-button>

  </div>

</ion-content>